<html>
  {{resetForm.value | json}}
    <div class="forMedia">
  <div fxLayout="row" fxLayoutAlign="center center" >
    
       <!-- reset password form -->
      <form [formGroup]="resetForm" (ngSubmit)="forgotPassword()">
     
     
        <!-- material card -->
        
<mat-card class="example-card">
  <!-- card header -->
  <mat-card-header class="example-header">
      <!-- <img mat-card-image src="../../../assets/fundoo.png" class="align-image"> -->
  <!-- card title -->
      <mat-card-title class="example-name-main">FUNDOO NOTES APP</mat-card-title>
      <!-- card subtitle -->
      <mat-card-subtitle class="example-name">ACCOUNT RECOVERY</mat-card-subtitle>
       
     <!-- end of card subtitle -->
      </mat-card-header>
<!-- end of card header -->
      <div class="example-container">
    <mat-form-field appearance="outline">
      <!-- reset password input field -->
        <mat-label>Set New Password</mat-label>
        <input formControlName="password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        
        
      </mat-form-field>
      
      <mat-card-actions class="example-button">
        <!-- login button -->
        <button mat-button class="name-link" routerLink="/login">Back</button>
        <!-- reset password button -->
          
          <button [disabled]="loading" type="submit" aria-label="Show an example snack-bar" mat-raised-button
          class="button-colour"><a class="button-name">Reset Password</a></button>
          
        </mat-card-actions>
        
      </div>
      
      <!-- end of material card -->
      
  </mat-card>
  
  
  <!-- end of form -->
  </form>
</div>
</div>
  </html>