/*css for reset password page*/

main{
  display: flex;
}
body { 
  font-family: Roboto, Arial, sans-serif;
  width: 400px;
  
  padding-left: 450px;
  padding-top: 100px;
}

.basic-container {
  padding: 150px;
  
}
.example-container {
    display: flex;
    flex-direction: column;
    
  }
  .example-card{
    background-color: rgb(255, 255, 255);
    width: 300px;
  }
  .forMedia{
    padding-top: 100px;
  }
  @media(max-width:2560px){
    
      
    
  }
  .button-name{
    color: white;
  }
  .button-colour{
    background-color: #1a73e8;
  }
  .name-link{
    color: #1a73e8;
  }
// end of media query
  .example-container {
    width: 100%;
  }
  .example-name {
  padding: 10px;
  color:black;
    display: flex;
    justify-content: center;
    width: 300px;
    font-size: 20px;
  }
  .align-image{
    height: 20px;
    width: 20px;
  }
  .example-button{
    display: flex;
    justify-content:space-between;
  
  }
  
  .example-name-link{
  padding: 20px;
  color: #1a73e8;
    display: flex;
    justify-content: start;
    width: 200px;
  }
  .example-header{
    display: flex;
    justify-content:center;
  }
  .example-name-main{
    padding: 10px;
  color:#1a73e8;
    display: flex;
    justify-content: center;
    width: 300px;
    font-size: 16px;
  }
  .example-color{
    color: black
  }